:root {
  --primary: rgb(189, 214, 143);
  --secondary: rgba(233, 225, 185, 1);
  --dark: #27ae60;
}

body {
  background-color: var(--gris);
  box-sizing: border-box;
  font-family: "Raleway";
  line-height: 1;
  margin: 0;
  padding: 0;
}
ol,
ul,
li {
  list-style: none;
}
a {
  color: var(--negro);
  text-decoration: none;
}
